
/* STYLE FOR TASK COUNTER*/

.btnAndCounter {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.btnAndCounter p {
    color: #ebd9d3;
    margin: .5em;
    font-size: 1.5rem;
    opacity: 90%;
    border-bottom: 2px dotted  #1A1423;
}

.btnAndCounter span {
    font-weight: 800;
    color: #ebd9d3;
}

/*STYLE FOR EACH TASK ADDED*/

.taskCard__div {
    color:  #1A1423;
    width: 95%;
    font-size: 1.7rem;
    padding: .3em;
    margin: 1em auto;
    background-color: #AB8476;
    border: 4px solid #1A1423;
}

.taskCard__div h3{
    color:#1A1423; 
    font-size: 2.5rem;
    margin-bottom: .2em;
}

.taskCard__div p {
    margin-bottom: 1em;
    font-size: 2.1rem;
}

.taskCard__div input[type=submit]{
    border-radius: 10px;
    border: 2px solid #1A1423;
    margin: .5em 0;
    padding: .4em;
    background-color:#1A1423;
    color:   #ebd9d3;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
}
.taskCard__div input[type=submit]:hover{
    background-color: #ebd9d3;
    color: #1A1423;
}

.taskCard__div label {
    position: relative;
    font-size: 1.7rem;
}

.taskCard__div input[type=checkbox]{
    margin-left: .5em;
    height: 1em;
    width: 1em;
    cursor: pointer;
    z-index: 1;
}

/*WHEN CHECKBOX IS CHEKCED, .TASKCOMPLETESYLE IS ADDED TO COMPLETED TASK*/

.taskCompleteStyle h3 {
    opacity: 50%;
    text-decoration: line-through;
}

.taskCompleteStyle p {
    text-decoration: line-through;
    opacity: 50%;
}

.taskCompleteStyle input[type=submit]{
    text-decoration: line-through;
    opacity: 50%;
}

.taskCompleteStyle input[type=submit]:hover{
    background-color:#1A1423;
    color:   #ad9288;
}
