/*STYLE FOR FORM WITH INPUT FIELDS FOR CREATING EACH TASK*/

.createTask__form {
    width: 95%;
    padding: .2em;
    margin: .3em auto;
    border: 4px solid #1A1423;
    background-color: #684756
}

.createTask__form h3{
    color:   #ebd9d3;
    padding: .2em;
    font-size: 2.7rem;
    margin: .5em 0;
}

.createTask__form label {
    font-size: 2.2rem;
    color:   #ebd9d3;
    margin: .5em .2em;
}

.createTask__form input[type=text]{
    font-size: 2.2rem;
    background-color:  #1A1423;
    color:  #ebd9d3;
    border: none;
    padding: .3em;
    margin: .3em .2em;
    width: 80%;
}

.createTask__form input[type=text]::placeholder{
    color:  #ebd9d3;
    opacity: 50%;
}

.createTask__form input[type=submit]{
    border-radius: 10px;
    
    border: none;
    padding: .4em;
    margin: 1em .3em;
    font-weight: 700;
    background-color: #1A1423;
    color: #ad9288;
    cursor: pointer;
    font-size: 1.5rem;
}

.createTask__form input[type=submit]:hover {
    background-color:#ad9288;
    color:  #1A1423;
}