/*
mørkest: #1A1423
mørk: #3D314A
mellom: #684756
lysere: #96705B
lysest: #AB8476
*/


.hideList {
    display: none;
}


.showList {
    display: block;
    margin: 1.5em 0;
}

.showList input[type=text] {
    color: #AB8476;
    background-color: #3D314A;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    padding: .7em;
    margin-right: 1em;
    text-align: center;
}

.showList input[type=text]::placeholder{
    color: #b1919e;
}

.showList input[type=submit]{
    background-color: #ad9288;
    border: none;
    color: #1A1423;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: .4em;
    cursor: pointer;
}
.showList input[type=submit]:hover {
    background-color: #684756;
    color:  #AB8476;
}
.createNewList__div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 2em auto;
}

.createNewList__btn  {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    background-color: #96705B;
    color: #1A1423;
    cursor: pointer;
}

.createNewList__btn:hover {
    border: 4px solid #AB8476;
    background-color: #684756;
    color:  #AB8476;
}

@media (max-width: 500px){
    
    .showList {
        margin: 1em;
    }

    .showList input[type=text] {
        width: 100%;
        margin: 1em 0;
    }
    
    .showList input[type=submit]{
        width: 100%;
    }
    
}